.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rbga(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: rgb(17, 95, 190);
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #333;
}

.space {
    margin-top: 40px;
}

img {
    border-radius: 50%;
    width: 310px;
    height: 410px;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: inline-block;
    margin: 0 12px;
}

a {
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background 0.3s;
    color: darkblue;
    font-weight: bold;
}

a:hover {
    background: crimson;
    color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: darkblue;
    color: white;
    cursor: pointer;

}

body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

body.dark-mode .container {
    background: #1e1e1e;
    box-shadow: 0 4px 12px rgba(255,255,255,0.1);
}

body.dark-mode a {
    color: #87cefa;
}

body.dark-mode a:hover {
    background: #ff4444;
    color: white;
}

body.dark-mode button {
    background-color: #444;
    color: #f0f0f0;
}


/* settings drop down */
.settings {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1000;
    margin-top: 0;
}

#settingsToggle {
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 48px;
    right: 0;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
    padding: 8px;
    min-width: 200px;
    display: none;
    z-index: 10;
}

.menu.open {
    display: block;
}

.menu button{
    display: block;
    width: 100%;
    text-align: left;
    background: transparent;
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.menu button:hover {
    background: rgba(0,0,0,0.06)
}

body.dark-mode .menu {
    background: #1e1e1e;
    border-color: rgba(255,255,255,0.12);
    box-shadow: 0 8px 18px rgba(0,0,0,0.6);
}

body.dark-mode .menu button:hover {
    background: rgba(255,255,255,0.08)
}

.container2 {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rbga(0,0,0,0.1);
    text-align: center;
}
